<div class="flex p-4 bg-base-300 rounded-lg justify-between items-center shadow-sm" id="<%= dom_id(quest) %>" >
  <%= form_with model: quest, local: true, class: 'inline space-x-3', data: {controller: "checkbox"} do |form| %>
    <%= form.check_box :completed, class: "checkbox", data: {action:"click->checkbox#submit"} %>
    <span class="<%= quest.completed ? 'line-through text-gray-500' : '' %>"><%= quest.name %></span>
  <% end %>
  <%= button_to "Delete", quest_path(quest), method: :delete, class: 'btn btn-error', data: {turbo_method: :delete}, id: "delete-#{quest.id}-button" %>
</div>
